# Arquivo de Configuracao do Sistema
# 
# Qui Set 15 19:38:27 BRT 2005
# 
# Comentario: toda palavra apos o caracter "#" sera entendido como comentario.
# usar [nome da variavel]=[conteudo]

TituloSistema=Sistema de Restaurantes e Pizzarias       # titulo que aparecera no browser em cima
nome=Fabio Dorival Victorelli                           # nome do estabelecimento
telefone=3016-0009                                      # telefone
 numerodemesas=30                                       # numero de mesas


# fim do arquivo de Configuracao
